doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About
    link(rel="stylesheet", href="styles.css")
  body
    .navigation
        form(action="/city", method="GET")
          input(type="text", name="city", placeholder="Search capital")
          button.search-icon-button(type='button', onclick="submitForm()")
            img(src='https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-28.png', alt='search icon')  
        a.home(href="/") DATE
        .dropdown
          img.drop-btn(src='https://cdn0.iconfinder.com/data/icons/user-interface-2063/24/UI_Essential_icon_expanded-01-48.png', alt='dropdown menu')
          .dropdown-content
            a(href="/favorites") Favorites
            a(href="/about") About
            a(href='/how-to-use') How to use
            a(href='/contact') Contact
    .block
        h3 ABOUT DATE
        p.text-about Date is a web application that displays the current time, date, and weather in different cities around the world. The app allows users to search for a city and view the local time, date, and weather conditions in that city. Users can also add cities to their favorites list and view the list of favorite cities on the home page. 
        p.text-about The app also allows users to contact support, learn more about the app, and report bugs or suggest features. The app is designed to be user-friendly and easy to navigate, with a simple and intuitive interface.
        p.text-about The app is built using Node.js, Express, WebSocket, and Pug. The app uses different API to retrieve weather and time zone data. 