doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FAQ
    link(rel="stylesheet", href="styles.css")
  body
    .navigation
        form(action="/city", method="GET")
          input(type="text", name="city", placeholder="Search capital")
          button.search-icon-button(type='button', onclick="submitForm()")
            img(src='https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-28.png', alt='search icon')  
        a.home(href="/") DATE
        .dropdown
          img.drop-btn(src='https://cdn0.iconfinder.com/data/icons/user-interface-2063/24/UI_Essential_icon_expanded-01-48.png', alt='dropdown menu')
          .dropdown-content
            a(href="/favorites") Favorites
            a(href="/about") About
            a(href='/how-to-use') How to use
            a(href='/contact') Contact
    .block
        h3 FAQ
        p.text Frequently asked questions
        p.text Q: How to use the app?
        p.text A: To use the app, enter the name of the city in the search bar and click the search icon. The app will display the capital of the country where the city is located.
        p.text Q: How to add a city to favorites?
        p.text A: To add a city to favorites, click on the city name in the search results. The city will be added to the list of favorites.
        p.text Q: How to view the list of favorite cities?
        p.text A: To view the list of favorite cities, click on the "Favorites" link in the navigation menu.
        p.text Q: How to remove a city from favorites?
        p.text A: To remove a city from favorites, click on the city name in the list of favorite cities. The city will be removed from the list of favorites.
        p.text Q: How to contact support?
        p.text A: To contact support, click on the "Contact" link in the navigation menu and follow the instructions on the page.
        p.text Q: How to learn more about the app?
        p.text A: To learn more about the app, click on the "About" link in the navigation menu and read the information on the page.
        p.text Q: How to use the app offline?
        p.text A: The app requires an internet connection to function. It cannot be used offline.
        p.text Q: How to provide feedback on the app?
        p.text A: To provide feedback on the app, click on the "Contact" link in the navigation menu and follow the instructions on the page.
        p.text Q: How to report a bug in the app?
        p.text A: To report a bug in the app, click on the "Contact" link in the navigation menu and follow the instructions on the page.
        p.text Q: How to suggest a feature for the app?
        p.text A: To suggest a feature for the app, click on the "Contact" link in the navigation menu and follow the instructions on the page.
        p.text Q: How to share the app with friends?
        p.text A: To share the app with friends, copy the URL of the app and send it to them via email or social media.
        p.text Q: How to change the language